@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color:#020076;
$secondary-color: #e7e6e6d8;
$button-color: #2639ED;
$soutitre:#7987A5;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
    .h2{
        color: $soutitre;
        font-weight: 19px;
        font-weight: 500;
    }
    .border-style{
        border-left:  solid 1px $secondary-color ;
    }
    .border-style-right{
        border-right:solid 1px $secondary-color ;
    }
    .nav{
        display: flex;
        align-items: center;
        padding: 1%;
        padding-left: 3%;
        padding-bottom: 3%;
        border-bottom: solid 1px $secondary-color;
        .logo{
            width: 20%;
            img{
                width: 50%;
            }
        }
        .search{
            width: 60%;
            display: flex;
            gap:10px;
            .searchBar{
                border: solid $secondary-color 1px;
                border-radius: 12px;
                width: 33vw;
                height: 3vw;
                padding: 10px;
                display: flex;
                gap: 10px;
                align-items: center;
            button{
                background: none;
                border: none;
            }
            input{
                border: none;
                font-weight: 500;
                font-size: 16px;
            }
        }
        .filtre{
            select{
                border: solid $secondary-color 1px;
                border-radius: 12px;
                width: 13vw;
                height: 3vw;
                font-weight: 500;
                font-size: 16px;
                color: #999898;
            }
        }
        }
        .user{
            width: 25%;
            display: flex;
            gap: 40px;
            align-items: center;
            .notif{
                display: flex;
                img{
                    width: 25px;
                }
            }
            .profil{
                display: flex;
                gap: 20px;
                img{
                width: 15%;
                border-radius: 90px;
                }
                .information{
                    h4{
                        font-size: 16px;
                        color: $primary-color;
                    }
                    p{
                        font-size: 13px;
                        color: $soutitre;
                    }
                }
            }
        }
    }
    main{
        display: flex;
        .first-part{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:80px;
            margin-left: 2%;
            margin: {
                left:2%;
            };
            padding-right: 2%;
            padding-top: 2%;
            padding-bottom: 0.9%;
            border-right: solid 1px $secondary-color ;
            .icones{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                .icon{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    .main-icon{
                        box-shadow: 1px 8px 33px 4px rgba(180, 190, 223, 0.74);
                    }
                    p{
                        font-size: 14px;
                        color: $soutitre;
                    }
                }
            }
            button{
                background-color: $primary-color;
                color: white;
                font-size: 16px;
                padding: 7%;
                width: 200px;
                border:none;
                border-radius: 15px;
                box-shadow: #cfc8ffa1 0px 18px 0px -9px;
                margin-top: 40px;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
        .product ,.brand{
            display: flex;
            flex-direction: column;
            margin-top: 2%;
            padding: 2%;
            padding-right: 2%;
            gap: 20px;
            a{
                text-decoration: none;
            }
            h2{
                @extend .h2
            }
            .all{
                display: flex;
                gap: 20px;
            .watch{
                display: flex;
                flex-direction: column;
                img{
                    width: 17vw;
                    height: 9vw;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                }
                p{
                    font-size: 16px;
                    font-weight: bold;
                    color: $primary-color;
                    background-color: $secondary-color;
                    text-align: center;
                    padding: 10%;
                    border-radius: 0 0px 15px 15px;
                }
                .brandLogo{
                    background: rgba(0, 0, 0, 0.459);
                    position: absolute;
                    padding: 2%;
                        
                }
            }
        }
        }
    }
    .last-activ{
        padding: 2%;
        @extend .border-style;
        .categories{
            display: flex;
            gap:200px;
            .icone-activity{
                display: flex;
                gap: 10px;
            }
            h2{
                @extend .h2
            }
        }
        .first-activity{
            margin-top: 30px;
            display: flex;
            gap: 70px;
            align-items: flex-end;
            img{
                width: 75px;
                border-radius: 10px;
            }
            h4{
                font-size: 18px;
            }
            p{
                font-size: 14px;
                color: $soutitre;
            }
        }
    }
    .second-part{
        @extend .border-style-right;
        display: flex;
        flex-direction: column;
        padding: 2%;
        h2{
            @extend .h2
        }
        .tableau-contain{
            display: flex;
            padding-top: 2vw;
            flex-direction: column;
            align-items: flex-end;
            gap: 15px;
        .line{
            display: flex;
            align-items: flex-end;
            margin-bottom: 2vw;
            
            .img{
                width: 65px;
                height: 65px;
                border-radius: 15px;
                object-fit: cover;
            }
            .info{
                margin-right: 96px;
                font-size: 18px;
                font-weight: 400;
                width: 6vw;
            }
            .icon{
                width: 2vw;
            }
        }
    }
}
.tableau{
    padding: 2%;
    display: flex;
    flex-direction: column; 
    gap: 4vw;
    h2{
        @extend .h2
    }
    h5{
        font-size: 16px;
        color: $primary-color;
        margin-bottom: 1vw;
    }
    .fil-option{
        select{
            width: 22vw;
            padding: 6%;
            border-radius: 15px;
            }
    }
    .all-input{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 6vw;
    .top,.bottom{
        display: flex;
        gap: 6vw;
        padding: {
            left: 3%;
        };
        .lebeles{
            display: flex;
            gap:80px;
        }
        input{
            width: 22vw;
            padding: 6%;
            border-radius: 10px;
            border: solid 1px $soutitre;
        }
        #file{
            background-color: white;
        }
        }
    }
.submit{
    button{
        padding: 8%;
        color: white;
        width: 15vw;
        background-color: $button-color;
        border: none;
        border-radius: 10px;
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}
}
@media screen and (max-width: 700px) and (min-width: 280px) {
.filtre{
    display: none;
}
.nav{
    flex-wrap: wrap;
    gap: 10px;
    .logo {
        width: 60%;
    }
    .search .searchBar input{
        font-size: 12px;
    }
    .user{
        width: 28%;
        gap: 37%;
        h4 ,p{
            display: none;
        }
        .profil img{
            width: 90%;
        }
    }
}
main{
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 22px;
        width: 40%;
    }
    .first-part{
        border-right: none;
        padding: 5%;
        .icones{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
        .icon{
            width: 7%;
            align-items: center;
        }
        }
        button{
    padding: 4%;
    width: 148px;
    margin-top: 20px;
    margin-left: 34%;
        }
    }
    .product{
            .all{
                display: flex;
                flex-direction: column;
            .watch{
                img{
                    height: 34vw;
                    width: 45vw;
                }
                .brandLogo{
                    background-position: center;
                    padding: 7%;
                }
            }
        }
    }
}
.second-part .tableau-contain .line .info {
    margin-right: 43px;
    font-size: 10px;
    font-weight: 400;
    width: 6vw;
}
.second-part .tableau-contain .line .img {
    width: 41px;
    height: 38px;
    border-radius: 15px;
    -o-object-fit: cover;
    object-fit: cover;
}
.second-part{
    padding: 1%;
    border: none;
    .categories{
        .tableau-contain{
            .line .icon {
                width: 10%;
            }
        }
    }
}
.tableau .all-input .top input, .tableau .all-input .bottom input{
    width: 82vw;
    padding: 6%;
}
.tableau .fil-option select {
    width: 51vw;
    padding: 6%;
    border-radius: 10px;
}
.tableau .all-input .top, .tableau .all-input .bottom {
    flex-direction: column;
}
.second-part .tableau-contain .line .icon {
    width: 9vw;
}
}

