@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body img {
  width: 30%;
}

body .left {
  background: url("background.jpg");
  background-size: cover;
  background-position: center;
  width: 55%;
  height: 48.8vw;
  padding: 6%;
}

body .left .flou {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 18% 10% 18% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body .left .flou p {
  color: white;
  font-size: 24px;
  font-weight: 250;
}

body .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  gap: 30px;
}

body .right .close {
  border: none;
  background: none;
  width: 10vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 9vw;
}

body .right img {
  width: 25%;
}

body .right .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body .right .title h1 {
  font-size: 33px;
  color: #494949;
  letter-spacing: 2px;
  font-weight: 500;
}

body .right .title h3 {
  font-size: 16px;
  color: #999898;
  font-weight: normal;
}

body .right .cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vw;
}

body .right .cases .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  gap: 8px;
  color: #999898;
}

body .right .cases .flex input {
  padding: 4%;
  border-radius: 5px;
  border: #c8c8c8 solid 1px;
}

body .right .cases .flex label {
  font-size: 14px;
}

body .right .cases .flex ::-webkit-input-placeholder {
  font-size: 10px;
  color: #999898;
}

body .right .cases .flex :-ms-input-placeholder {
  font-size: 10px;
  color: #999898;
}

body .right .cases .flex ::-ms-input-placeholder {
  font-size: 10px;
  color: #999898;
}

body .right .cases .flex ::placeholder {
  font-size: 10px;
  color: #999898;
}

body .right .cases .flex a {
  text-decoration: none;
  font-size: 12px;
}

body .right .cases .flex .submit {
  padding: 4%;
  border-radius: 5px;
  border: none;
  background: #2639ED;
  color: white;
  font-size: 18px;
  font-weight: solid;
}

#prealoder {
  background: white url(/icones/Facebook-Loading-Icons-1.gif) no-repeat;
  background-position: top;
  width: 100%;
  height: 50vw;
  position: fixed;
  z-index: 100;
}

@media screen and (max-width: 900px) and (min-width: 280px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-bottom: 150px;
  }
  body .left {
    width: 100%;
    height: 30%;
  }
  body .left img {
    width: 50%;
  }
  body .left .flou p {
    font-size: 18px;
  }
  body .right img {
    width: 60%;
  }
  body .right .title h1 {
    font-size: 28px;
  }
  body .right .title h3 {
    font-size: 16px;
  }
  body .right .cases {
    gap: 40px;
  }
}

@media screen and (max-width: 1480px) and (min-width: 901px) {
  body .left .flou {
    height: 39vw;
    overflow: hidden;
    padding-top: 4vw;
  }
  body .left .flou p {
    font-size: 18px;
    font-weight: 250;
    width: 30vw;
    margin-bottom: 2vw;
  }
  body .right img {
    width: 25%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 901px) {
  body .right .title h1 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=login.css.map */